In [46]:
import pandas as pd
import re
from datetime import datetime
import pytz
from urllib.parse import urlparse
from urllib.parse import parse_qs

In [47]:
# datetime.datetime.strptime('13/Nov/2015:11:45:42','%Y-%m-%d:%H:%M:%S +%f')

In [48]:
import os
current_file = os.getcwd()
myfile = os.path.join(current_file, 'www.pangaea.de-access-anon.log.bz2')

In [49]:
#ref: https://mmas.github.io/read-apache-access-log-pandas
logData = pd.read_csv(myfile,
    sep=r'\s(?=(?:[^"]*"[^"]*")*[^"]*$)(?![^\[]*\])',
    engine='python',
    na_values='-',
    header=None,
    usecols=[0, 3, 4, 5, 7, 8],encoding="utf-8",
    names=['ip', 'time', 'request', 'status', 'referer', 'user_agent'])

In [50]:
logData.head(1)

,ip,time,request,status,referer,user_agent
0,68aa873d61a6586244b0892d7bca2573,[30/Sep/2019:06:25:44 +0000],"""GET /search?ie=UTF-8&q=parameter%3A%22Bathysi...",301.0,"""-""","""Mozilla/5.0 (compatible; AhrefsBot/6.1; +http..."

In [51]:
logData['status'] = logData['status'].fillna(0) #convert non-finite values (NA or inf) to integer
logData['status'] = logData['status'].astype(int)
logData.head(1)

,ip,time,request,status,referer,user_agent
0,68aa873d61a6586244b0892d7bca2573,[30/Sep/2019:06:25:44 +0000],"""GET /search?ie=UTF-8&q=parameter%3A%22Bathysi...",301,"""-""","""Mozilla/5.0 (compatible; AhrefsBot/6.1; +http..."

In [52]:
logData['request']= logData['request'].apply(lambda x: re.sub(r'^"|"$', '', str(x)) )
logData['user_agent']= logData['user_agent'].apply(lambda x: re.sub(r'^"|"$', '',str(x)) )
logData['referer']= logData['referer'].apply(lambda x: re.sub(r'^"|"$', '',str(x)) )

In [53]:
logData.shape

(3874088, 6)

In [54]:
logData['request_type'] = logData['request'].str.split().str[0]
logData['resource'] = logData['request'].str.split().str[1]
logData.head(1)

,ip,time,request,status,referer,user_agent,request_type,resource
0,68aa873d61a6586244b0892d7bca2573,[30/Sep/2019:06:25:44 +0000],GET /search?ie=UTF-8&q=parameter%3A%22Bathysip...,301,-,Mozilla/5.0 (compatible; AhrefsBot/6.1; +http:...,GET,/search?ie=UTF-8&q=parameter%3A%22Bathysiphon+...

In [55]:
logData = logData[(logData.request_type == 'GET') & (logData.status == 200)]
logData.shape

(3063078, 8)

In [56]:
logData=logData.drop('request', axis=1)
logData.head(1)

,ip,time,status,referer,user_agent,request_type,resource
3,75892c86ec3272b7fa79e0f2c375a9f5,[30/Sep/2019:06:25:56 +0000],200,-,Mozilla/5.0 (compatible; SemrushBot/6~bl; +htt...,GET,/?maxdate=2005-12-31T23%3A59%3A59&mindate=2005...

In [57]:
logData = logData[~logData['resource'].str.match(
    r'^/media|^/static|^/admin|^/robots.txt$|^/favicon.ico$')]
logData = logData[~logData['user_agent'].str.match(
    r'.*?bot|.*?spider|.*?crawler|.*?slurp', flags=re.I).fillna(False)]
logData.shape

(1858386, 7)

In [58]:
logData.head(1)

,ip,time,status,referer,user_agent,request_type,resource
9,eb6f30241bf7ff9bf1c6ddb6d5ea2d66,[30/Sep/2019:06:26:12 +0000],200,https://doi.pangaea.de/10.1594/PANGAEA.890974,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6...,GET,/?q=SOCATv5

In [59]:
#https://doi.pangaea.de, https://www.pangaea.de
#use referrel to filter out external requests - only request originated from the portal will be considered
logData = logData[logData.referer.str.startswith('https://doi.pangaea.de') | logData.referer.str.startswith('https://www.pangaea.de')]
logData.shape

(1335062, 7)

In [60]:
#exclude queries originated from external search -> /advanced/search.php, /advanced/warehouse.php
logData = logData[~logData.resource.str.startswith('/advanced/')]
logData.shape

(1234130, 7)

In [61]:
regex = '(\?q\=)(.*?)\&'
def parse_query(url):
    parsed = urlparse(url)
    l = None
    if 'q' in parse_qs(parsed.query):
        l = parse_qs(parsed.query)['q']
        l= l[0].lower()
    else:
        search = re.search(regex, url, re.IGNORECASE)
        if search:
            l= search.group(2).lower()
    return l

In [62]:
searchData =logData.copy()
searchData.shape

(1234130, 7)

In [63]:
searchData= searchData[searchData.resource.str.contains('q=')] 
searchData.shape

(5952, 7)

In [64]:
searchData= searchData[~searchData.resource.str.contains('/?q=parameter%3A%22-%22')]
# /?q=parameter%3A%22Event+label%22 & /?q=parameter%3A%22DATE%2FTIME%22

In [65]:
keyWords = searchData['resource']
keyWords.shape
# keyWords.to_csv('search1')

(5937,)

In [66]:
keyWords = searchData['resource'].apply(parse_query)
keyWords.head(5)

9                        socatv5
775     parameter:"file content"
2159       project:label:sponges
4107        parameter:"salinity"
4244        event:label:lavpicco
Name: resource, dtype: object

In [67]:
keyWords.shape

(5937,)

In [68]:
keyWords = keyWords[~keyWords.str.contains('file')]

In [69]:
keyWords.shape

(5523,)

In [70]:
keyWords.head(5)
# keyWords.to_csv('search2')

9                     socatv5
2159    project:label:sponges
4107     parameter:"salinity"
4244     event:label:lavpicco
4711     event:label:ps2122-2
Name: resource, dtype: object

In [71]:
top50KeyWords = keyWords.value_counts().head(50)

In [72]:
df = pd.DataFrame({'word':top50KeyWords.index, 'count':top50KeyWords.values})
df.head(50)

                                                 word  count
0                     parameter:"carbon dioxide flux"     98
1                                              melles     52
2                    parameter:"depth, sediment/rock"     45
3                                     parameter:"age"     37
4                             parameter:"event label"     36
5                               parameter:"date/time"     32
6                            parameter:"methane flux"     30
7                       parameter:"temperature, soil"     29
8                                      δ18o age model     28
9                                vos finnpartner 2005     28
10                     biometric measurements of fish     25
11                                method:"calculated"     25
12                                           odp 1202     20
13                              rv sonne cruise so236     19
14                              parameter:"age model"     19
15                               parameter:"salinity"     19
16                            tisler reef, skagerrak      18
17  parameter:"short-wave downward (global) radiat...     18
18                                          md95-2042     18
19  pi:"internationale gewässerschutzkommission fü...     15
20                      parameter:"calcium carbonate"     15
21   parameter:"sea surface temperature, annual mean"     15
22                        western channel observatory     14
23                                     parameter:"ph"     13
24                                         sst v30-40     13
25                          ark-xxiv/1 -psradiosingle     13
26                         parameter:"carbon dioxide"     13
27                                           kuroshio     12
28          parameter:"river discharge, monthly mean"     12
29                                 paleomagnetic data     12
30                                                sst     12
31                      parameter:"sample code/label"     12
32            parameter:"extraterrestrial insolation"     11
33       parameter:"river discharge, monthly minimum"     11
34  method:"nu hr icp-ms, arizona laserchron cente...     11
35                          event:label:ceatal-izmail     11
36       parameter:"river discharge, monthly maximum"     11
37                            project:label:eurodelta     11
38                                  de vittor, cinzia     11
39            parameter:"river discharge, yearly sum"     11
40                             keyword:"danube delta"     11
41                               project:label:sesame     11
42                       keyword:"danube delta coast"     11
43                                          @ref23662     11
44                            method:"stream gauging"     11
45        device:"underway cruise track measurements"     10
46                             parameter:"resolution"     10
47                     parameter:"temperature, water"     10
48                         parameter:"identification"     10
49                                          md95-2040     10

In [73]:
#remove 'parameter:' from the word column
df['word'] = df['word'].str.replace('parameter:', '')
df['word'] = df['word'].str.replace('"', '')
df.head(50)

                                                 word  count
0                                 carbon dioxide flux     98
1                                              melles     52
2                                depth, sediment/rock     45
3                                                 age     37
4                                         event label     36
5                                           date/time     32
6                                        methane flux     30
7                                   temperature, soil     29
8                                      δ18o age model     28
9                                vos finnpartner 2005     28
10                     biometric measurements of fish     25
11                                  method:calculated     25
12                                           odp 1202     20
13                              rv sonne cruise so236     19
14                                          age model     19
15                                           salinity     19
16                            tisler reef, skagerrak      18
17             short-wave downward (global) radiation     18
18                                          md95-2042     18
19  pi:internationale gewässerschutzkommission für...     15
20                                  calcium carbonate     15
21               sea surface temperature, annual mean     15
22                        western channel observatory     14
23                                                 ph     13
24                                         sst v30-40     13
25                          ark-xxiv/1 -psradiosingle     13
26                                     carbon dioxide     13
27                                           kuroshio     12
28                      river discharge, monthly mean     12
29                                 paleomagnetic data     12
30                                                sst     12
31                                  sample code/label     12
32                        extraterrestrial insolation     11
33                   river discharge, monthly minimum     11
34  method:nu hr icp-ms, arizona laserchron center...     11
35                          event:label:ceatal-izmail     11
36                   river discharge, monthly maximum     11
37                            project:label:eurodelta     11
38                                  de vittor, cinzia     11
39                        river discharge, yearly sum     11
40                               keyword:danube delta     11
41                               project:label:sesame     11
42                         keyword:danube delta coast     11
43                                          @ref23662     11
44                              method:stream gauging     11
45          device:underway cruise track measurements     10
46                                         resolution     10
47                                 temperature, water     10
48                                     identification     10
49                                          md95-2040     10

In [29]:
temp = logData[logData.resource.str.contains('content')]
print(temp.shape)
for index, row in temp.iterrows():
    print(row['resource'])

(125, 7)
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/shared/help/toolbar/content1.gif
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/shared/help/toolbar/content1.gif
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?a=fetch&templateFile=public/index&prefix=''&content=<php>file_put_contents('hmseo.php','<?php%20@eval($_POST[hm]);?>hmseo')</php>
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22Carbon+content+per+individual%22
/?q=parameter%3A%22Carbon+content+per+individual%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/index.php?s=index/think%5capp/invokefunction&function=call_user_func_array&vars%5b0%5d=file_put_contents&vars%5b1%5d%5b%5d=../test.txt&vars%5b1%5d%5b%5d=%3ctitle%3e%b0%d9%b6%c8%d2%bb%cf%c2%a3%ac%c4%e3%be%cd%d6%aa%b5%c0%20%3c/title%3e
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?a=fetch&templateFile=public/index&prefix=''&content=<php>file_put_contents('hmseo.php','<?php%20@eval($_POST[hm]);?>hmseo')</php>
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22Nitrogen+content+per+dry+mass%22
/?q=parameter%3A%22Nitrogen+content+per+dry+mass%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22
/?q=parameter%3A%22File+content%22