In [1]:
import pandas as pd

In [4]:
myfile = 'www.pangaea.de-access-anon.log.bz2'

In [5]:
logData = pd.read_csv(myfile, sep='\s+',names=['hashed ID','pangea','delete1','t1','t2','log','status','size','delete2','device'],header=None)

In [6]:
logData.head()

,hashed ID,pangea,delete1,t1,t2,log,status,size,delete2,device
0,68aa873d61a6586244b0892d7bca2573,http://www.pangaea.de,-,[30/Sep/2019:06:25:44,+0000],GET /search?ie=UTF-8&q=parameter%3A%22Bathysip...,301,178,-,Mozilla/5.0 (compatible; AhrefsBot/6.1; +http:...
1,a9b74a347fa53fceed817cec4dabe1b0,http://www.pangaea.de,-,[30/Sep/2019:06:25:54,+0000],GET /search?ie=UTF-8&q=PI%3Aemail%3Asinam%40ki...,301,178,-,Mozilla/5.0 (compatible; AhrefsBot/6.1; +http:...
2,55e11990b11106b85a85921f4369485e,https://www.pangaea.de,-,[30/Sep/2019:06:25:54,+0000],GET /search?maxdate=2005-12-31T23%3A59%3A59&mi...,301,519,-,Mozilla/5.0 (compatible; SemrushBot/6~bl; +htt...
3,75892c86ec3272b7fa79e0f2c375a9f5,https://www.pangaea.de,-,[30/Sep/2019:06:25:56,+0000],GET /?maxdate=2005-12-31T23%3A59%3A59&mindate=...,200,77428,-,Mozilla/5.0 (compatible; SemrushBot/6~bl; +htt...
4,112f467bd0b8740ee966059ac6ac9979,https://www.pangaea.de,-,[30/Sep/2019:06:26:00,+0000],GET /nosupplement.php?uri=doi%3A10.1016%2Fs037...,200,2925,-,Mozilla/5.0 (compatible; SemrushBot/6~bl; +htt...

In [7]:
logData['time']=logData['t1']+logData['t2']

In [8]:
logDataModified = logData.drop(['delete1', 'delete2','t1','t2','pangea'], axis=1)

In [9]:
logDataModified

,hashed ID,log,status,size,device,time
0,68aa873d61a6586244b0892d7bca2573,GET /search?ie=UTF-8&q=parameter%3A%22Bathysip...,301,178,Mozilla/5.0 (compatible; AhrefsBot/6.1; +http:...,[30/Sep/2019:06:25:44+0000]
1,a9b74a347fa53fceed817cec4dabe1b0,GET /search?ie=UTF-8&q=PI%3Aemail%3Asinam%40ki...,301,178,Mozilla/5.0 (compatible; AhrefsBot/6.1; +http:...,[30/Sep/2019:06:25:54+0000]
2,55e11990b11106b85a85921f4369485e,GET /search?maxdate=2005-12-31T23%3A59%3A59&mi...,301,519,Mozilla/5.0 (compatible; SemrushBot/6~bl; +htt...,[30/Sep/2019:06:25:54+0000]
3,75892c86ec3272b7fa79e0f2c375a9f5,GET /?maxdate=2005-12-31T23%3A59%3A59&mindate=...,200,77428,Mozilla/5.0 (compatible; SemrushBot/6~bl; +htt...,[30/Sep/2019:06:25:56+0000]
4,112f467bd0b8740ee966059ac6ac9979,GET /nosupplement.php?uri=doi%3A10.1016%2Fs037...,200,2925,Mozilla/5.0 (compatible; SemrushBot/6~bl; +htt...,[30/Sep/2019:06:26:00+0000]
...,...,...,...,...,...,...
3874083,6cfe6735394bde66910dd1d72a849848,GET /?count=10&q=parameter%3A%22Bartonella+bir...,200,61170,Mozilla/5.0 (compatible; MJ12bot/v1.4.8; http:...,[25/Nov/2019:06:26:08+0000]
3874084,6cfe6735394bde66910dd1d72a849848,GET /search?ie=UTF-8&count=10&q=parameter:%22B...,301,178,Mozilla/5.0 (compatible; MJ12bot/v1.4.8; http:...,[25/Nov/2019:06:26:09+0000]
3874085,6cfe6735394bde66910dd1d72a849848,GET /search?ie=UTF-8&count=10&q=parameter:%22B...,301,357,Mozilla/5.0 (compatible; MJ12bot/v1.4.8; http:...,[25/Nov/2019:06:26:11+0000]
3874086,6cfe6735394bde66910dd1d72a849848,GET /search?ie=UTF-8&count=10&q=parameter:%22B...,301,178,Mozilla/5.0 (compatible; MJ12bot/v1.4.8; http:...,[25/Nov/2019:06:26:17+0000]
3874087,6cfe6735394bde66910dd1d72a849848,GET /search?ie=UTF-8&count=10&q=parameter:%22B...,301,178,Mozilla/5.0 (compatible; MJ12bot/v1.4.8; http:...,[25/Nov/2019:06:26:22+0000]

In [19]:
logDataModified['log'].iloc[1]

'GET /search?ie=UTF-8&q=PI%3Aemail%3Asinam%40kis.kigam.re.kr HTTP/1.1'

In [32]:
def string_check(log):
    if 'GET /advanced/search' in str(log): 
        if 'facets=' in str(log) :
            return True
        else:
            return False
    else: 
        return False

In [33]:
boolSearch = logDataModified['log'].apply(lambda x: string_check(x))

In [34]:
searchData = logDataModified[boolSearch]

In [35]:
searchData

,hashed ID,log,status,size,device,time
222,d4057bb28680f2e23657e0afd66e3a2c,GET /advanced/search.php?facets=default&q=proj...,200,1668,Mozilla/5.0 (Macintosh; Intel Mac OS X) AppleW...,[30/Sep/2019:06:33:57+0000]
311,d4057bb28680f2e23657e0afd66e3a2c,GET /advanced/search.php?facets=default&q=proj...,200,1709,Mozilla/5.0 (Macintosh; Intel Mac OS X) AppleW...,[30/Sep/2019:06:34:15+0000]
350,b1b3c3c347a005c5dc00aa0953e985a5,GET /advanced/search.php?q=*&count=0&facets=ma...,200,645,Mozilla/5.0 (iPhone; CPU iPhone OS 12_4_1 like...,[30/Sep/2019:06:34:38+0000]
363,baf86b31f2e4bf22cf057b110b778f8c,GET /advanced/search.php?q=*&count=0&facets=ma...,200,654,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,[30/Sep/2019:06:34:42+0000]
375,b1b3c3c347a005c5dc00aa0953e985a5,GET /advanced/search.php?facets=default&t=Ocea...,200,3890,Mozilla/5.0 (iPhone; CPU iPhone OS 12_4_1 like...,[30/Sep/2019:06:34:43+0000]
...,...,...,...,...,...,...
3873796,ae4433f1629e06d9de50d4450d4e7938,GET /advanced/search.php?facets=default&q=para...,200,3063,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,[25/Nov/2019:06:16:30+0000]
3873800,815d88f2e0c91c24599da86eede112d1,GET /advanced/search.php?facets=default&q=PI%3...,200,2449,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,[25/Nov/2019:06:16:41+0000]
3873866,815d88f2e0c91c24599da86eede112d1,GET /advanced/search.php?facets=default&q=PI%3...,200,1982,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,[25/Nov/2019:06:20:36+0000]
3873905,30e9522666ec01f9629e7196ff7ca57e,GET /advanced/search.php?facets=default&q=PI%3...,200,2682,Mozilla/5.0 (Linux; Android 6.0; A97 Build/MRA...,[25/Nov/2019:06:21:45+0000]
3873942,aaca9868e11cfc4b413d7825dbb2a960,GET /advanced/search.php?facets=default&q=nodu...,200,3459,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,[25/Nov/2019:06:23:21+0000]

In [36]:
searchData['log'].iloc[1]

'GET /advanced/search.php?facets=default&q=project%3ABSRN+%2Bevent%3AASP&f.location%5B%5D=Australia HTTP/1.1'

In [37]:
facets = searchData['log'].apply(lambda log: log.split('facets=')[1].split('&')[0].split('%')[0].split(' ')[0].lower())

In [38]:
topFacets = facets.value_counts()

In [39]:
topFacets.to_csv('Top_Facets')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [40]:
pd.read_csv('Top_Facets',names=['Facet','Count'],header=None)

       Facet  Count
0    default  49489
1  maintopic  21584
2     author   1878
3      topic   1152
4   location   1128
5    pubyear    809
6    project    601
7     device    537
8   campaign    487
9      basis    138

In [41]:
def fstring_check(log):
    if 'GET /advanced/search' in str(log): 
        if 'f.' in str(log) :
            return True
        else:
            return False
    else: 
        return False

In [42]:
fboolSearch = logDataModified['log'].apply(lambda x: fstring_check(x))

In [43]:
fsearchData = logDataModified[fboolSearch]

In [45]:
fsearchData

,hashed ID,log,status,size,device,time
311,d4057bb28680f2e23657e0afd66e3a2c,GET /advanced/search.php?facets=default&q=proj...,200,1709,Mozilla/5.0 (Macintosh; Intel Mac OS X) AppleW...,[30/Sep/2019:06:34:15+0000]
313,d4057bb28680f2e23657e0afd66e3a2c,GET /advanced/search.php?q=project%3ABSRN+%2Be...,200,1235,Mozilla/5.0 (Macintosh; Intel Mac OS X) AppleW...,[30/Sep/2019:06:34:21+0000]
314,d4057bb28680f2e23657e0afd66e3a2c,GET /advanced/search.php?q=project%3ABSRN+%2Be...,200,1206,Mozilla/5.0 (Macintosh; Intel Mac OS X) AppleW...,[30/Sep/2019:06:34:26+0000]
315,d4057bb28680f2e23657e0afd66e3a2c,GET /advanced/search.php?q=project%3ABSRN+%2Be...,200,1172,Mozilla/5.0 (Macintosh; Intel Mac OS X) AppleW...,[30/Sep/2019:06:34:28+0000]
316,d4057bb28680f2e23657e0afd66e3a2c,GET /advanced/search.php?q=project%3ABSRN+%2Be...,200,1222,Mozilla/5.0 (Macintosh; Intel Mac OS X) AppleW...,[30/Sep/2019:06:34:33+0000]
...,...,...,...,...,...,...
3872557,1109be02f8365e63d28455b901b0fa68,GET /advanced/search.php?q=982&offset=20&f.loc...,200,1761,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,[25/Nov/2019:05:20:27+0000]
3872560,1109be02f8365e63d28455b901b0fa68,GET /advanced/search.php?q=982&offset=30&f.loc...,200,2209,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,[25/Nov/2019:05:20:35+0000]
3873419,815d88f2e0c91c24599da86eede112d1,GET /advanced/search.php?facets=default&q=722&...,200,1204,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,[25/Nov/2019:06:02:08+0000]
3873446,815d88f2e0c91c24599da86eede112d1,GET /advanced/search.php?facets=default&q=odp+...,200,1239,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,[25/Nov/2019:06:03:44+0000]
3873866,815d88f2e0c91c24599da86eede112d1,GET /advanced/search.php?facets=default&q=PI%3...,200,1982,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,[25/Nov/2019:06:20:36+0000]

In [67]:
fsearchData['log'].iloc[316].split('f.')[1].split(' ')[0].split('&')[0].split('%')[0].lower()

'project'

In [61]:
f = fsearchData['log'].apply(lambda log: log.split('f.')[1].split(' ')[0].split('&')[0].lower())

In [62]:
ftop = f.value_counts()

In [63]:
ftop.to_csv('top_f')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [64]:
pd.read_csv('top_f',names=['F.','Count'],header=None).head(50)

                                                  F.  Count
0                                 pubyear%5b%5d=2019   2082
1                           topic%5b%5d=oceanography    669
2                              location%5b%5d=europe    657
3                                 pubyear%5b%5d=2018    511
4                        location%5b%5d=arctic+ocean    360
5                      location%5b%5d=atlantic+ocean    353
6                                 pubyear%5b%5d=2017    347
7                         device%5b%5d=ctd%2frosette    314
8                location%5b%5d=north+atlantic+ocean    310
9       topic%5b%5d=geosciences%2c+multidisciplinary    307
10                            basis%5b%5d=polarstern    298
11                      author%5b%5d=rohardt%2c+gerd    295
12                             topic%5b%5d=chemistry    294
13                                pubyear%5b%5d=2016    252
14                                pubyear%5b%5d=2015    241
15                       location%5b%5d=indian+ocean    241
16  topic%5b%5d=meteorology+%26+atmospheric+sciences    217
17                               location%5b%5d=asia    210
18                                project%5b%5d=bsrn    190
19                                pubyear%5b%5d=2014    181
20                                pubyear%5b%5d=2013    169
21                          topic%5b%5d=foraminifera    164
22                           project%5b%5d=awi_meteo    151
23                  location%5b%5d=mediterranean+sea    148
24                                pubyear%5b%5d=2010    138
25                      location%5b%5d=north+america    127
26                                pubyear%5b%5d=2012    120
27                                pubyear%5b%5d=2008    115
28                             location%5b%5d=africa    113
29                    author%5b%5d=dupont%2c+lydie+m    112
30                         location%5b%5d=baltic+sea    109
31                            topic%5b%5d=atmosphere    109
32                         location%5b%5d=antarctica    106
33                      location%5b%5d=pacific+ocean    104
34                                pubyear%5b%5d=2004    103
35                topic%5b%5d=environmental+sciences    102
36                                topic%5b%5d=oceans    101
37                  device%5b%5d=mooring+(long+time)    100
38                                pubyear%5b%5d=2011     98
39                                 project%5b%5d=odp     96
40                        location%5b%5d=arabian+sea     96
41                       topic%5b%5d=water+resources     90
42                 topic%5b%5d=isotopic+measurements     89
43                           topic%5b%5d=lithosphere     88
44                               project%5b%5d=atlas     87
45                     location%5b%5d=southern+ocean     86
46             author%5b%5d=nogueras+cervera%2c+marc     84
47                   device%5b%5d=monitoring+station     83
48                      author%5b%5d=asmus%2c+harald     81
49                              project%5b%5d=censor     81

In [97]:
fAdv = fsearchData['log'].apply(lambda log: log.split('f.')[1].split(' ')[0].split('&')[0].split('%')[0].split('=')[0].split('[]')[0].lower())

In [98]:
fAdvTop = fAdv.value_counts()

In [99]:
fAdvTop.to_csv('top_f_adv')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [102]:
pd.read_csv('top_f_adv',names=['F.','Count'],header=None)

                              F.  Count
0                        pubyear   4960
1                       location   3964
2                          topic   3034
3                         author   2635
4                        project   1412
5                         device   1025
6                       campaign    674
7                          basis    593
8                         boebel      4
9                          eisen      2
10                      +caricis      2
11              +cannabis+sativa      2
12                      +pulchra      2
13                            fr      1
14                     bickmeyer      1
15                      +communi      1
16                            cl      1
17                         autho      1
18  +clavatum+in+the+arctic+seas      1
19                       +incisa      1
20                +v.+immaturata      1
21               +achylostaurion      1
22                     tiedemann      1