In [1]:
import pandas as pd
import re
from datetime import datetime
import pytz
from urllib.parse import urlparse
from urllib.parse import parse_qs

In [2]:
import os
current_file = os.getcwd()
myfile = os.path.join(current_file, 'www.pangaea.de-access-anon.log.bz2')

In [3]:
logData = pd.read_csv(myfile,
    sep=r'\s(?=(?:[^"]*"[^"]*")*[^"]*$)(?![^\[]*\])',
    engine='python',
    na_values='-',
    header=None,
    usecols=[0, 3, 4, 5, 7, 8],encoding="utf-8",
    names=['ip', 'time', 'request', 'status', 'referer', 'user_agent'])

In [4]:
logData.head(1)

,ip,time,request,status,referer,user_agent
0,68aa873d61a6586244b0892d7bca2573,[30/Sep/2019:06:25:44 +0000],"""GET /search?ie=UTF-8&q=parameter%3A%22Bathysi...",301.0,"""-""","""Mozilla/5.0 (compatible; AhrefsBot/6.1; +http..."

In [5]:
logData['status'] = logData['status'].fillna(0) #convert non-finite values (NA or inf) to integer
logData['status'] = logData['status'].astype(int)
logData.head(1)

,ip,time,request,status,referer,user_agent
0,68aa873d61a6586244b0892d7bca2573,[30/Sep/2019:06:25:44 +0000],"""GET /search?ie=UTF-8&q=parameter%3A%22Bathysi...",301,"""-""","""Mozilla/5.0 (compatible; AhrefsBot/6.1; +http..."

In [6]:
logData['request']= logData['request'].apply(lambda x: re.sub(r'^"|"$', '', str(x)) )
logData['user_agent']= logData['user_agent'].apply(lambda x: re.sub(r'^"|"$', '',str(x)) )
logData['referer']= logData['referer'].apply(lambda x: re.sub(r'^"|"$', '',str(x)) )

In [7]:
logData.shape

(3874088, 6)

In [8]:
logData['request_type'] = logData['request'].str.split().str[0]
logData['resource'] = logData['request'].str.split().str[1]
logData.head(1)

,ip,time,request,status,referer,user_agent,request_type,resource
0,68aa873d61a6586244b0892d7bca2573,[30/Sep/2019:06:25:44 +0000],GET /search?ie=UTF-8&q=parameter%3A%22Bathysip...,301,-,Mozilla/5.0 (compatible; AhrefsBot/6.1; +http:...,GET,/search?ie=UTF-8&q=parameter%3A%22Bathysiphon+...

In [9]:
logData = logData[(logData.request_type == 'GET') & (logData.status == 200)]
logData.shape

(3063078, 8)

In [10]:
logData=logData.drop('request', axis=1)
logData.head(1)

,ip,time,status,referer,user_agent,request_type,resource
3,75892c86ec3272b7fa79e0f2c375a9f5,[30/Sep/2019:06:25:56 +0000],200,-,Mozilla/5.0 (compatible; SemrushBot/6~bl; +htt...,GET,/?maxdate=2005-12-31T23%3A59%3A59&mindate=2005...

In [11]:
logData = logData[~logData['resource'].str.match(
    r'^/media|^/static|^/admin|^/robots.txt$|^/favicon.ico$')]
logData = logData[~logData['user_agent'].str.match(
    r'.*?bot|.*?spider|.*?crawler|.*?slurp', flags=re.I).fillna(False)]
logData.shape

(1858386, 7)

In [12]:
logData.head(1)

,ip,time,status,referer,user_agent,request_type,resource
9,eb6f30241bf7ff9bf1c6ddb6d5ea2d66,[30/Sep/2019:06:26:12 +0000],200,https://doi.pangaea.de/10.1594/PANGAEA.890974,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6...,GET,/?q=SOCATv5

In [13]:
#https://doi.pangaea.de, https://www.pangaea.de
#use referrel to filter out external requests - only request originated from the portal will be considered
logData = logData[logData.referer.str.startswith('https://doi.pangaea.de') | logData.referer.str.startswith('https://www.pangaea.de')]
logData.shape

(1335062, 7)

In [14]:
#exclude queries originated from external search -> /advanced/search.php, /advanced/warehouse.php
logData = logData[~logData.resource.str.startswith('/advanced/')]
logData.shape

(1234130, 7)

In [164]:
searchData =logData.copy()
searchData.shape

(1234130, 7)

In [165]:
searchData= searchData[searchData.resource.str.contains('f.author') | searchData.resource.str.contains('f.basis') | searchData.resource.str.contains('f.campaign') | searchData.resource.str.contains('f.device') | searchData.resource.str.contains('f.location') | searchData.resource.str.contains('f.project') | searchData.resource.str.contains('f.pubyear') | searchData.resource.str.contains('f.topic')] 
searchData.shape
#parseQuery

(728, 7)

In [166]:
keyFacets = searchData['resource'].apply(lambda x: re.findall(r'&?f.(pubyear|location|author|basis|campaign|device|project|topic)',x))

In [167]:
topKeyFacets = keyFacets.value_counts()

In [169]:
topKeyFacets

[project]                     249
[pubyear]                      98
[location]                     76
[author]                       60
[topic]                        44
                             ...
[campaign, project]             1
[topic, topic, topic]           1
[device, project]               1
[device, pubyear, pubyear]      1
[basis, device]                 1
Name: resource, Length: 62, dtype: int64

In [173]:
df = pd.DataFrame({'facet':topKeyFacets.index, 'count':topKeyFacets.values})

In [174]:
df.head(50)

                                                facet  count
0                                           [project]    249
1                                           [pubyear]     98
2                                          [location]     76
3                                            [author]     60
4                                             [topic]     44
5                                          [campaign]     36
6                                            [device]     24
7        [topic, project, project, project, campaign]     15
8                                             [basis]     11
9                                   [author, pubyear]      9
10                                  [location, basis]      6
11                               [campaign, location]      6
12                                   [topic, pubyear]      5
13                                 [pubyear, pubyear]      5
14                                [location, pubyear]      5
15                                  [topic, location]      4
16                                 [location, device]      4
17                                [pubyear, location]      4
18                                     [topic, topic]      4
19                        [author, campaign, project]      3
20       [topic, campaign, project, project, project]      3
21                                    [author, topic]      3
22                                 [device, location]      3
23                                    [topic, device]      3
24                                   [pubyear, topic]      3
25                                [location, project]      2
26                                  [project, author]      2
27           [location, location, location, location]      2
28                                    [topic, author]      2
29                               [location, campaign]      2
30                                 [location, author]      2
31                               [location, location]      2
32  [project, project, project, project, project, ...      2
33                                  [device, pubyear]      1
34                        [location, basis, campaign]      1
35                                  [author, project]      1
36                                    [author, basis]      1
37                        [device, location, project]      1
38                                    [device, basis]      1
39                        [pubyear, pubyear, pubyear]      1
40                                  [pubyear, author]      1
41  [location, location, location, location, locat...      1
42                                  [campaign, topic]      1
43                     [location, location, location]      1
44  [topic, pubyear, pubyear, pubyear, pubyear, pu...      1
45                        [author, location, pubyear]      1
46                                 [pubyear, project]      1
47  [location, pubyear, pubyear, pubyear, pubyear,...      1
48                        [location, location, topic]      1
49                                  [project, device]      1